test/scrt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:thesecretserver.com" xmlns:s1="urn:thesecretserver.com/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="urn:thesecretserver.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Webservice for standard integration.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:thesecretserver.com">
      <s:complexType name="GenericResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="organization" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="tns:AuthenticateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticateResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetSecretResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="SecretError" type="tns:SecretError" />
          <s:element minOccurs="0" maxOccurs="1" name="Secret" type="tns:Secret" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecretError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AllowsResponse" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CommentTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalCommentTitle" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Secret">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfSecretItem" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SecretTypeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWebLauncher" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutMinutesRemaining" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCheckedOut" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CheckOutUserDisplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutUserId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOutOfSync" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRestricted" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="OutOfSyncReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecretSettings" type="tns:SecretSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="SecretPermissions" type="tns:SecretPermissions" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSecretItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SecretItem" nillable="true" type="tns:SecretItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecretItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsNotes" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPassword" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldDisplayName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecretSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AutoChangeEnabled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresApprovalForAccess" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiresComment" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutEnabled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CheckOutChangePasswordEnabled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PrivilegedSecretId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AssociatedSecretIds" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="Approvers" type="tns:ArrayOfGroupOrUserRecord" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChangeToSettings" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroupOrUserRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupOrUserRecord" nillable="true" type="tns:GroupOrUserRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupOrUserRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsUser" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SecretPermissions">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CurrentUserHasView" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentUserHasEdit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentUserHasOwner" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="InheritPermissionsEnabled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsChangeToPermissions" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Permissions" type="tns:ArrayOfPermission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPermission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Permission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserOrGroup" type="tns:GroupOrUserRecord" />
          <s:element minOccurs="1" maxOccurs="1" name="View" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Edit" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Owner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSecret">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="secretId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loadSettingsAndPermissions" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="codeResponses" type="tns:ArrayOfCodeResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCodeResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CodeResponse" nillable="true" type="tns:CodeResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CodeResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalComment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSecretResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecretResult" type="tns:GetSecretResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSecretsByFieldValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="showDeleted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecretsByFieldValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecretsByFieldValueResult" type="tns:GetSecretsByFieldValueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetSecretsByFieldValueResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Secrets" type="tns:ArrayOfSecret" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSecret">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Secret" nillable="true" type="tns:Secret" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadFileAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="secretId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileAttachmentResult" type="tns:FileDownloadResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileDownloadResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:WebServiceResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FileAttachment" type="s:base64Binary" />
              <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="DownloadFileAttachmentByItemId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="secretId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secretItemId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileAttachmentByItemIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadFileAttachmentByItemIdResult" type="tns:FileDownloadResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResult" nillable="true" type="tns:AuthenticateResult" />
      <s:element name="GetSecretResult" nillable="true" type="tns:GetSecretResult" />
      <s:element name="GetSecretsByFieldValueResult" nillable="true" type="tns:GetSecretsByFieldValueResult" />
      <s:element name="FileDownloadResult" nillable="true" type="tns:FileDownloadResult" />
    </s:schema>
    <s:schema targetNamespace="urn:thesecretserver.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecretSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecret" />
  </wsdl:message>
  <wsdl:message name="GetSecretSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecretResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecretsByFieldValue" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecretsByFieldValueResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFileAttachment" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFileAttachmentByItemId" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileAttachmentByItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileAttachment" />
  </wsdl:message>
  <wsdl:message name="UploadFileAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileAttachmentByItemIdSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFileAttachmentByItemId" />
  </wsdl:message>
  <wsdl:message name="UploadFileAttachmentByItemIdSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileAttachmentByItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="organization" type="s:string" />
    <wsdl:part name="domain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:AuthenticateResult" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fieldName" type="s:string" />
    <wsdl:part name="searchTerm" type="s:string" />
    <wsdl:part name="showDeleted" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueHttpGetOut">
    <wsdl:part name="Body" element="tns:GetSecretsByFieldValueResult" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="secretId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentHttpGetOut">
    <wsdl:part name="Body" element="tns:FileDownloadResult" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="secretId" type="s:string" />
    <wsdl:part name="secretItemId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdHttpGetOut">
    <wsdl:part name="Body" element="tns:FileDownloadResult" />
  </wsdl:message>
  <wsdl:message name="UploadFileAttachmentHttpGetIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="secretId" type="s:string" />
    <wsdl:part name="fileData" type="s1:StringArray" />
    <wsdl:part name="fileName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="organization" type="s:string" />
    <wsdl:part name="domain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:AuthenticateResult" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="fieldName" type="s:string" />
    <wsdl:part name="searchTerm" type="s:string" />
    <wsdl:part name="showDeleted" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSecretsByFieldValueHttpPostOut">
    <wsdl:part name="Body" element="tns:GetSecretsByFieldValueResult" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="secretId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentHttpPostOut">
    <wsdl:part name="Body" element="tns:FileDownloadResult" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdHttpPostIn">
    <wsdl:part name="token" type="s:string" />
    <wsdl:part name="secretId" type="s:string" />
    <wsdl:part name="secretItemId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DownloadFileAttachmentByItemIdHttpPostOut">
    <wsdl:part name="Body" element="tns:FileDownloadResult" />
  </wsdl:message>
  <wsdl:portType name="SSWebServiceSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecret">
      <wsdl:input message="tns:GetSecretSoapIn" />
      <wsdl:output message="tns:GetSecretSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <wsdl:input message="tns:GetSecretsByFieldValueSoapIn" />
      <wsdl:output message="tns:GetSecretsByFieldValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <wsdl:input message="tns:DownloadFileAttachmentSoapIn" />
      <wsdl:output message="tns:DownloadFileAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <wsdl:input message="tns:DownloadFileAttachmentByItemIdSoapIn" />
      <wsdl:output message="tns:DownloadFileAttachmentByItemIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SSWebServiceHttpGet">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <wsdl:input message="tns:GetSecretsByFieldValueHttpGetIn" />
      <wsdl:output message="tns:GetSecretsByFieldValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <wsdl:input message="tns:DownloadFileAttachmentHttpGetIn" />
      <wsdl:output message="tns:DownloadFileAttachmentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <wsdl:input message="tns:DownloadFileAttachmentByItemIdHttpGetIn" />
      <wsdl:output message="tns:DownloadFileAttachmentByItemIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SSWebServiceHttpPost">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <wsdl:input message="tns:GetSecretsByFieldValueHttpPostIn" />
      <wsdl:output message="tns:GetSecretsByFieldValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <wsdl:input message="tns:DownloadFileAttachmentHttpPostIn" />
      <wsdl:output message="tns:DownloadFileAttachmentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <wsdl:input message="tns:DownloadFileAttachmentByItemIdHttpPostIn" />
      <wsdl:output message="tns:DownloadFileAttachmentByItemIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSWebServiceSoap" type="tns:SSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="urn:thesecretserver.com/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecret">
      <soap:operation soapAction="urn:thesecretserver.com/GetSecret" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <soap:operation soapAction="urn:thesecretserver.com/GetSecretsByFieldValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <soap:operation soapAction="urn:thesecretserver.com/DownloadFileAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <soap:operation soapAction="urn:thesecretserver.com/DownloadFileAttachmentByItemId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSWebServiceSoap12" type="tns:SSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="urn:thesecretserver.com/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecret">
      <soap12:operation soapAction="urn:thesecretserver.com/GetSecret" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <soap12:operation soapAction="urn:thesecretserver.com/GetSecretsByFieldValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <soap12:operation soapAction="urn:thesecretserver.com/DownloadFileAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <soap12:operation soapAction="urn:thesecretserver.com/DownloadFileAttachmentByItemId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSWebServiceHttpGet" type="tns:SSWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <http:operation location="/GetSecretsByFieldValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <http:operation location="/DownloadFileAttachment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <http:operation location="/DownloadFileAttachmentByItemId" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSWebServiceHttpPost" type="tns:SSWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecretsByFieldValue">
      <http:operation location="/GetSecretsByFieldValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachment">
      <http:operation location="/DownloadFileAttachment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFileAttachmentByItemId">
      <http:operation location="/DownloadFileAttachmentByItemId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="SSWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Webservice for standard integration.</wsdl:documentation>
    <wsdl:port name="SSWebServiceSoap" binding="tns:SSWebServiceSoap">
      <soap:address location="https://www.zanzitest.net/webservices/sswebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SSWebServiceSoap12" binding="tns:SSWebServiceSoap12">
      <soap12:address location="https://www.zanzitest.net/webservices/sswebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SSWebServiceHttpGet" binding="tns:SSWebServiceHttpGet">
      <http:address location="https://www.zanzitest.net/webservices/sswebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SSWebServiceHttpPost" binding="tns:SSWebServiceHttpPost">
      <http:address location="https://www.zanzitest.net/webservices/sswebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
